---
import BaseLayout from '@layouts/BaseLayout.astro';
import Section from '@components/Section.astro';
import ContactForm from '@components/ContactForm.astro';
---
<BaseLayout title="Contact — SPARQ Team">
  <Section id="contact-page" title="Contact SPARQ" subtitle="Drop us a line.">
    <ContactForm />
  </Section>
</BaseLayout>
